@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.vacancyPage-fon {
  @include main-fon;
}

.vacancyPage-wrapper {
  @include base-proportion;
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
