@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.mainPage-fon {
  @include main-fon;
}

.mainPage__content-wrapper {
  @include base-proportion;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2.5em;
}

.section__jobList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section__nav {
  margin-bottom: 2rem;
}

@media (max-width: 1107px) {
  .mainPage__content-wrapper {
    justify-content: center;
    align-items: center;
  }
}
