@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.jobCard-fon {
  width: 100vw;
  max-width: 750px;
  height: 100vh;
  max-height: 130px;
  background-color: $base-white;
  border: 1px solid $border-white;
  border-radius: 12px;
}

.jobCard__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}
