@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.jobBoard-section__wrapper {
  @include base-proportion;
}

.jobBoard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
