@mixin base-proportion {
  margin: auto;
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin base-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $base-grey;
  text-decoration: none;
}

@mixin base-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $base-blue;
}

@mixin main-fon {
  width: 100%;
  height: 100%;
  background-color: $fon-gray;
  padding-bottom: 2rem;
}

@mixin item-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
}

@mixin form-button {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: $base-blue;
  color: $base-white;
  border-radius: 8px;
  cursor: pointer;
}

@mixin label-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $base-black;
}

@mixin h2-paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $base-black;
}

@mixin button-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-500;
  cursor: pointer;
}

@mixin place-holder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $gray-500;
  cursor: pointer;
}

@mixin input-Container {
  display: block;
  width: 275px;
  height: 42px;
  border: 1px solid #d5d6dc;
  color: $gray-500;
  border-radius: 8px;
  padding: 12px;
  margin-top: 0.5rem;
  cursor: pointer;
}
