@mixin base-proportion {
  margin: auto;
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin base-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $base-grey;
  text-decoration: none;
}

@mixin base-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $base-blue;
}

@mixin main-fon {
  width: 100%;
  height: 100%;
  background-color: $fon-gray;
}

@mixin item-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
}

@mixin form-button {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: $base-blue;
  color: $base-white;
  border-radius: 8px;
  cursor: pointer;
}
