$base-white: #ffffff;
$base-grey: #232134;
$base-blue: #5e96fc;
$base-black: #232134;
$gray-600: #7b7c88;
$gray-900: #343a40;

$fon-gray: #f5f5f5;
$border-white: #eaebed;
$button-blue: #3b7cd3;
$button-grey: #deecff;
