@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.jobBoard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.jobList-wrapper {
  @include item-list;
}
