@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.jobCard__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  max-width: 773px;
  padding: 1.5rem;
  background-color: $base-white;
  border: 1px solid $border-white;
  border-radius: 12px;
  cursor: pointer;
}

.jobCard__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.jobCard__content-wrapper,
.jobCard__footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

.jobCard__title {
  @include base-title;
  max-width: 500px;
}

.jobCard__payment {
  @include base-text;
  font-weight: 600;
  color: $base-black;
}

.jobCard__workTime,
.jobCard__location {
  @include base-text;
  color: $base-black;
}

.jobCard__location {
  margin-left: 0.8rem;
}

.jobCard__workTime {
  margin-left: 2rem;
  position: relative;
}

.jobCard__workTime::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 45%;
  background-color: $gray-600;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}

@media (max-width: 780px) {
  .jobCard__container {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .jobCard__content-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .jobCard__workTime {
    margin-left: 0;
  }

  .jobCard__workTime::before {
    height: 0px;
    width: 0px;
  }
}
