@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.vacancyDescription-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  max-width: 773px;
  padding: 1.5rem;
  background-color: $base-white;
  border: 1px solid $border-white;
  border-radius: 12px;
  margin-top: 20px;

  b,
  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $base-black;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  li {
    @include base-text;
    line-height: 140%;
    position: relative;
    margin-left: 1rem;
  }

  li::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 45%;
    background-color: $base-black;
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translate(-50%, -50%);
  }
}
