.header {
  background-color: #ffffff;
}

.header-content__wrapper {
  margin: auto;
  height: 84px;
  max-width: 1200px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__wrapper {
  position: relative;
}

.header-logo__svg {
  position: absolute;
  top: 50%;
  left: -54px;
  transform: translateY(-50%);
}
.header-nav__wrapper {
}

.header-logo__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232134;
}
