@import "/src/styles/vars.scss";
@import "/src/styles/mixin.scss";

.mainPage-fon {
  @include main-fon;
}

.section__PostList {
  @include base-proportion;
  height: 100vh;
  display: flex;
  justify-content: center;
}
